// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.smoji-title{
	color: #4e54c8 !important;
}

.btn-primary {
	background-color: #8f94fb;
	background-image: linear-gradient(to bottom, #8f94fb, #4e54c8);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0px 3px 15px #8f94fb;
	color: #ffffff;
	border: 0;
	width: 100%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background: #656dff;
    background: -webkit-linear-gradient(to top, #656dff, #4e54c8);
    background: linear-gradient(to bottom, #656dff, #4e54c8);
    box-shadow: 0px 5px 25px #656dff;
    -ms-box-shadow: 0px 5px 25px #656dff;
    -moz-box-shadow: 0px 5px 25px #656dff;
    -webkit-box-shadow: 0px 5px 25px #656dff;
    color: #ffffff;
    border: 0;
}

.card {
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
}

#drawingArea {
    background: url('images/templates/bg-canvas.png');
    min-height: 380px;  
    position: relative;
}

.resultContainer {
	position: relative;
	border: 1px solid #dee2e6;
	min-height: 320px;
	overflow: hidden;
	margin-bottom: 5px;
}

#designskins {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 1;
}

#designhairs {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 2;
}

#designeyes {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 3;
}

#designbeards {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 4;
}

#designskins > img {
	width: 150px;
}

#designhairs > img {
	width: 169px;
}

#designeyes > img {
	width: 169px;
}

#designbeards > img {
	width: 169px;
}

.resultSticker {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.resultSticker > img {
	width: 400px;
}

.resultSkin {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.resultSkin > img {
	width: 400px;
}

.resultLip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}

.resultEyes {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.resultHair {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
}

#resultBasefree-female-1 {
	left: 6%;
	top: 8%;
}

#resultBasefree-female-1 > img {
	width: 380px;
}

#resultBasefree-male-1 {
	left: 6%;
	top: 8%;
}

#resultBasefree-male-1 > img {
	width: 380px;
}

#resultBasefree-female-2 {
	left: 3%;
	top: 15%;
}

#resultBasefree-female-2 > img {
	width: 350px;
}

#resultBasefree-male-2 {
	left: 7%;
	top: 11%;
}

#resultBasefree-male-2 > img {
	width: 350px;
}

#resultBasefree-female-3 {
	left: 5%;
	top: 3%;
	z-index: 1;
}

#resultBasefree-female-3 > img {
	width: 400px;
}

#resultBasefree-female-4 {
	left: -15%;
	top: 8%;
	z-index: 1;
}

#resultBasefree-female-4 > img {
	width: 500px;
}

#resultBasefree-male-4 {
	top: 22%;
}

#resultBasefree-female-5 {
	left: -10%;
	top: auto;
}

#resultBasefree-female-5 > img {
	width: 450px;
}

#resultBasefree-male-5 {
	left: 6%;
	top: 2%;
	z-index: 1;
}

#resultBasefree-female-6 {
	left: 10%;
	top: 12%;
}

#resultBasefree-female-6 > img {
	width: 350px;
}

#resultBasefree-male-6 {
	left: -13%;
	top: -3%;
	transform: rotateY(-180deg);
	z-index: 1;
}

#resultBasefree-male-6 > img {
	width: 430px;
}

#resultBasefree-female-7 {
	left: 30%;
	top: 4%;
}

#resultBasefree-female-7 > img {
	width: 190px;
}

#resultBasefree-male-7 {
	left: -7%;
	top: 2%;
}

#resultBasefree-male-7 > img {
	width: 450px;
}

#resultBasefree-female-8 {
	left: -13%;
	top: 2%;
}

#resultBasefree-female-8 > img {
	width: 450px;
}

#resultBasefree-male-8 {
	left: -20%;
	top: 2%;
}

#resultBasefree-male-8 > img {
	width: 450px;
}

#resultBasefree-male-9 {
	left: -20%;
	top: 2%;
}

#resultBasefree-male-9 > img {
	width: 450px;
}

#resultBasefree-male-10 {
	left: -13%;
	top: 4%;
	z-index: 1;
}

#resultBasefree-male-10 > img {
	width: 430px;
}

#resultBasefree-male-11 {
	left: 9%;
	top: 18%;
}

#resultBasefree-male-11 > img {
	width: 380px;
}

#resultBasefree-male-12 {
	left: 32%;
	top: 10%;
}

#resultBasefree-male-12 > img {
	width: 350px;
}

#resultBasefree-male-13 {
	left: -24%;
	top: 12%;
}

#resultBasefree-male-14 {
	left: -3%;
	top: 1%;
}

#resultBasefree-male-14 > img {
	width: 430px;
}

#resultBasefree-male-15 {
	left: 3%;
}

#resultBasefree-male-15 > img {
	width: 410px;
}

#resultBasefree-male-16 {
	left: 18%;
	top: 6%;
}

#resultBasefree-male-16 > img {
	width: 420px;
}

#resultStickerfree-male-17 > img {
	width: 380px;
}

#resultBasefree-male-17 {
	left: -5%;
	top: 1%;
}

#resultBasefree-male-17 > img {
	width: 430px;
}

#resultLipfree-female-1 {
	left: 51.7%;
	top: 14.7%;
}

#resultLipfree-female-1 > img {
	width: 41px;
}