// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.smoji-title{
	color: #4e54c8 !important;
}

.btn-primary {
	background-color: #8f94fb;
	background-image: linear-gradient(to bottom, #8f94fb, #4e54c8);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0px 3px 15px #8f94fb;
	color: #ffffff;
	border: 0;
	width: 100%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background: #656dff;
    background: -webkit-linear-gradient(to top, #656dff, #4e54c8);
    background: linear-gradient(to bottom, #656dff, #4e54c8);
    box-shadow: 0px 5px 25px #656dff;
    -ms-box-shadow: 0px 5px 25px #656dff;
    -moz-box-shadow: 0px 5px 25px #656dff;
    -webkit-box-shadow: 0px 5px 25px #656dff;
    color: #ffffff;
    border: 0;
}

.card {
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
}

#drawingArea {
    background: url('images/templates/bg-canvas.png');
    min-height: 380px;  
    position: relative;
}

.resultContainer {
	position: relative;
	border: 1px solid #dee2e6;
	min-height: 320px;
	overflow: hidden;
	margin-bottom: 5px;
}

#designskins {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 1;
}

#designhairs {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 2;
}

#designeyes {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 3;
}

#designbeards {
	position: absolute;
	left: 30%;
	top: 0;
	z-index: 4;
}

#designskins > img {
	width: 150px;
}

#designhairs > img {
	width: 169px;
}

#designeyes > img {
	width: 169px;
}

#designbeards > img {
	width: 169px;
}

.resultSticker {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.resultSticker > img {
	width: 400px;
}

.resultSkin {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.resultSkin > img {
	width: 400px;
}

.resultLip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}

.resultEyes {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.resultHair {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
}

#resultBasefree-female-1 {
	left: 6%;
	top: 8%;
}

#resultBasefree-female-1 > img {
	width: 380px;
}

#resultBasefree-male-1 {
	left: 48%;
	top: 1%;
}

#resultBasefree-male-1 > img {
	width: 180px;
}

#resultBasefree-female-2 {
	left: 3%;
	top: 15%;
}

#resultBasefree-female-2 > img {
	width: 350px;
}

#resultBasefree-male-2 {
	left: 7%;
	top: 11%;
}

#resultBasefree-male-2 > img {
	width: 350px;
}

#resultBasefree-female-3 {
	left: 5%;
	top: 3%;
	z-index: 1;
}

#resultBasefree-female-3 > img {
	width: 400px;
}

#resultBasefree-male-3 {
	left: 9%;
	top: 7%;
}

#resultBasefree-male-3 > img {
	width: 350px;
}

#resultBasefree-female-4 {
	left: -15%;
	top: 8%;
	z-index: 1;
}

#resultBasefree-female-4 > img {
	width: 500px;
}

#resultBasefree-male-4 {
	top: 22%;
}

#resultBasefree-female-5 {
	left: -10%;
	top: auto;
}

#resultBasefree-female-5 > img {
	width: 450px;
}

#resultBasefree-male-5 {
	left: 6%;
	top: 2%;
	z-index: 1;
}

#resultBasefree-female-6 {
	left: 10%;
	top: 12%;
}

#resultBasefree-female-6 > img {
	width: 350px;
}

#resultBasefree-male-6 {
	left: 22%;
	top: 3%;
	transform: rotateY(-180deg);
	z-index: 1;
}

#resultBasefree-male-6 > img {
	width: 170px;
}

#resultBasefree-female-7 {
	left: 30%;
	top: 4%;
}

#resultBasefree-female-7 > img {
	width: 190px;
}

#resultBasefree-male-7 {
	left: -7%;
	top: 2%;
}

#resultBasefree-male-7 > img {
	width: 450px;
}

#resultBasefree-female-8 {
	left: -13%;
	top: 2%;
}

#resultBasefree-female-8 > img {
	width: 450px;
}

#resultBasefree-male-8 {
	left: -20%;
	top: 2%;
}

#resultBasefree-male-8 > img {
	width: 450px;
}

#resultBasefree-male-9 {
	left: -20%;
	top: 2%;
}

#resultBasefree-male-9 > img {
	width: 450px;
}

#resultBasefree-male-10 {
	left: -13%;
	top: 4%;
	z-index: 1;
}

#resultBasefree-male-10 > img {
	width: 430px;
}

#resultBasefree-female-10 {
	top: 11%;
}

#resultBasefree-male-11 {
	left: 9%;
	top: 18%;
}

#resultBasefree-male-11 > img {
	width: 380px;
}

#resultBasefree-male-12 {
	left: 32%;
	top: 10%;
}

#resultBasefree-male-12 > img {
	width: 350px;
}

#resultBasefree-male-13 {
	left: -24%;
	top: 12%;
}

#resultBasefree-male-14 {
	left: -3%;
	top: 1%;
}

#resultBasefree-male-14 > img {
	width: 430px;
}

#resultBasefree-male-15 {
	left: 3%;
}

#resultBasefree-male-15 > img {
	width: 410px;
}

#resultBasefree-male-16 {
	left: 11%;
	top: 7%;
}

#resultBasefree-male-16 > img {
	width: 420px;
}

#resultStickerfree-male-17 > img {
	width: 380px;
}

#resultBasefree-male-17 {
	left: -5%;
	top: 1%;
}

#resultBasefree-male-17 > img {
	width: 430px;
}

#resultHairfree-female-1 {
	left: 180px;
    top: -1px;
}

#resultHairfree-female-1 > img {
	width: 81px;
}

#resultHairfree-female-2 {
	transform: rotateY(-180deg) rotate(-34deg);
    left: 213px;
    top: 29px;
}

#resultHairfree-female-2 > img {
	width: 68px;
}

#resultHairfree-female-3 {
	left: 188px;
    top: -11px;
}

#resultHairfree-female-3 > img {
	width: 70px;
}

#resultHairfree-female-4 {
	left: 156px;
    top: 4px;
}

#resultHairfree-female-4 > img {
	width: 81px;
}

#resultHairfree-female-5 {
	left: 150px;
}

#resultHairfree-female-5 > img {
	width: 75px;
}

#resultHairfree-female-6 {
	transform: rotateY(-180deg) rotate(10deg);
    left: 216px;
    top: 8px;
}

#resultHairfree-female-6 > img {
	width: 90px;
}

#resultHairfree-female-7 {
	transform: rotate(8deg);
    left: 158px;
    top: -15px;
}

#resultHairfree-female-7 > img {
	width: 136px;
}

#resultHairfree-female-8 {
    transform: rotateY(-180deg) rotate(32deg);
    left: 28px;
    top: 63px;
}

#resultHairfree-female-8 > img {
	width: 87px;
}

#resultHairfree-female-9 {
	left: 183px;
    top: -3px;
}

#resultHairfree-female-9 > img {
	width: 43px;
}

#resultHairfree-female-10 {
	transform: rotate(-19deg);
    left: 160px;
    top: 13px;
}

#resultHairfree-female-10 > img {
	width: 65px;
}

#resultHairfree-male-1 {
	left: 231px;
    top: -12px;
}

#resultHairfree-male-1 > img {
	width: 83px;
}

#resultHairfree-male-2 {
	left: 184px;
    top: 30px;
}

#resultHairfree-male-2 > img {
	width: 42px;
}

#resultHairfree-male-3 {
	left: 185px;
    top: 14px;
}

#resultHairfree-male-3 > img {
	width: 48px;
}

#resultHairfree-male-4 {
	transform: rotate(-25deg);
    left: 82px;
    top: 62px;
}

#resultHairfree-male-4 > img {
	width: 133px;
}

#resultHairfree-male-5 {
    left: 203px;
    top: 0;
}

#resultHairfree-male-5 > img {
	width: 47px;
}

#resultHairfree-male-6 {
    left: 157px;
    top: 4px;
}

#resultHairfree-male-6 > img {
	width: 45px;
}

#resultHairfree-male-7 {
    left: 159px;
    top: -3px;
}

#resultHairfree-male-7 > img {
	width: 61px;
}

#resultHairfree-male-8 {
    left: 121px;
    top: -5px;
}

#resultHairfree-male-8 > img {
	width: 58px;
}

#resultHairfree-male-9 {
    left: 121px;
    top: -5px;
}

#resultHairfree-male-9 > img {
	width: 58px;
}

#resultHairfree-male-10 {
    left: 135px;
    top: 1px;
}

#resultHairfree-male-10 > img {
	width: 61px;
}

#resultHairfree-male-11 {
    transform: rotate(12deg);
    left: 187px;
    top: 59px;
}

#resultHairfree-male-11 > img {
	width: 63px;
}

#resultHairfree-male-12 {
    left: 264px;
    top: 17px;
}

#resultHairfree-male-12 > img {
	width: 70px;
}

#resultHairfree-male-13 {
    transform: rotateY(-180deg);
    left: 63px;
    top: 21px;
}

#resultHairfree-male-13 > img {
	width: 77px;
}

#resultHairfree-male-14 {
    transform: rotateY(-180deg);
    left: 168px;
    top: -6px;
}

#resultHairfree-male-14 > img {
	width: 68px;
}

#resultHairfree-male-15 {
    left: 180px;
    top: -13px;
}

#resultHairfree-male-15 > img {
	width: 67px;
}

#resultHairfree-male-16 {
    transform: rotate(15deg);
    left: 266px;
    top: 9px;
}

#resultHairfree-male-16 > img {
	width: 67px;
}

#resultHairfree-male-17 {
    left: 163px;
    top: -7px;
}

#resultHairfree-male-17 > img {
	width: 60px;
}